/***
 *    ┏┓┏┓┓ ┏┓┳┓┏┓
 *    ┃ ┃┃┃ ┃┃┣┫┗┓
 *    ┗┛┗┛┗┛┗┛┛┗┗┛
 *                
 */


/*--------Importing matugen colors-----*/
@import '~/.config/rofi/colors.rasi'


/*--------Color definitions------------*/

* {
       background:       @bg;
       background-alt:   @color0;
       foreground:       @fg;
       selected-alpha:   @color1;
}
