@define-color foreground #c1c0c0;
@define-color background #090404;
@define-color cursor #c1c0c0;

@define-color color0 #090404;
@define-color color1 #575757;
@define-color color2 #686868;
@define-color color3 #787878;
@define-color color4 #888888;
@define-color color5 #979797;
@define-color color6 #A7A7A7;
@define-color color7 #c1c0c0;
@define-color color8 #665353;
@define-color color9 #575757;
@define-color color10 #686868;
@define-color color11 #787878;
@define-color color12 #888888;
@define-color color13 #979797;
@define-color color14 #A7A7A7;
@define-color color15 #c1c0c0;
