#![enable(implicit_some)]
(
    border_width: 2,
    margin: [4, 4],
    default_border_color: "#090404",
    floating_border_color: "#A7A7A7",
    focused_border_color: "#c1c0c0",
    background_color: "#090404",
)