/*
 *		pywal theme template for notepadqq by threadreaper
 *		https://github.com/threadreaper
 */

.cm-s-nqqwal .CodeMirror-gutters { background: #090404 !important; }
.cm-s-nqqwal .CodeMirror-foldgutter-open, .CodeMirror-foldgutter-folded { color: #c1c0c0; }
.cm-s-nqqwal .CodeMirror-cursor { border-left: 1px solid #c1c0c0; background-color: rgba(167,167,167,0.4)}
.cm-s-nqqwal { background-color: #090404; color: #c1c0c0; }
.cm-s-nqqwal span.cm-builtin { color: #686868; font-weight: bold; }
.cm-s-nqqwal span.cm-comment { color: #665353; }
.cm-s-nqqwal span.cm-keyword { color: #787878; font-weight: bold; }
.cm-s-nqqwal span.cm-atom { color: #888888; }
.cm-s-nqqwal span.cm-def { color: #979797; }
.cm-s-nqqwal span.cm-variable { color: #A7A7A7; }
.cm-s-nqqwal span.cm-variable-2 { color: #979797; }
.cm-s-nqqwal span.cm-string { color: #686868; }
.cm-s-nqqwal span.cm-string-2 { color: #686868; }
.cm-s-nqqwal span.cm-number { color: #979797; }
.cm-s-nqqwal span.cm-tag { color: #787878; }
.cm-s-nqqwal span.cm-property { color: #A7A7A7; }
.cm-s-nqqwal span.cm-attribute { color: #A7A7A7; }
.cm-s-nqqwal span.cm-qualifier { color: #888888; }
.cm-s-nqqwal span.cm-meta { color: #979797; }
.cm-s-nqqwal span.cm-header { color: #787878; }
.cm-s-nqqwal span.cm-operator { color: #787878; }
.cm-s-nqqwal span.CodeMirror-matchingbracket { box-sizing: border-box; background: transparent; border-bottom: 1px solid; }
.cm-s-nqqwal span.CodeMirror-nonmatchingbracket { border-bottom: 1px solid; background: none; }
.cm-s-nqqwal .CodeMirror-activeline-background { background: rgba(151,151,151,0.4); }
.cm-s-nqqwal div.CodeMirror-selected { background: #787878; }
.cm-s-nqqwal .CodeMirror-focused div.CodeMirror-selected { background: #090404); }
