* {
    primary: #99cbff;
    primary-fixed: #cfe5ff;
    primary-fixed-alpha: rgba(207, 229, 255, 0.2);
    primary-fixed-dim: #99cbff;
    on-primary: #003355;
    on-primary-fixed: #001d34;
    on-primary-fixed-variant: #004a78;
    primary-container: #004a78;
    on-primary-container: #cfe5ff;
    secondary: #9dcbfb;
    secondary-fixed: #cfe5ff;
    secondary-fixed-dim: #9dcbfb;
    on-secondary: #003355;
    on-secondary-fixed: #001d34;
    on-secondary-fixed-variant: #124a73;
    secondary-container: #124a73;
    on-secondary-container: #cfe5ff;
    tertiary: #d0bcfe;
    tertiary-fixed: #e9ddff;
    tertiary-fixed-dim: #d0bcfe;
    on-tertiary: #37265d;
    on-tertiary-fixed: #210f47;
    on-tertiary-fixed-variant: #4e3d75;
    tertiary-container: #4e3d75;
    on-tertiary-container: #e9ddff;
    error: #ffb4ab;
    on-error: #690005;
    error-container: #93000a;
    on-error-container: #ffdad6;
    surface: #15121c;
    surface-alpha: rgba(21, 18, 28, 0.7);
    on-surface: #e7e0ee;
    on-surface-variant: #ccc2db;
    outline: #958da4;
    outline-variant: #4a4458;
    shadow: #000000;
    scrim: #000000;
    inverse-surface: #e7e0ee;
    inverse-on-surface: #322f3a;
    inverse-primary: #00629d;
    surface-dim: #15121c;
    surface-bright: #3b3743;
    surface-container-lowest: #100d16;
    surface-container-low: #1d1a24;
    surface-container: #211e28;
    surface-container-high: #2c2833;
    surface-container-highest: #37333e;
}
