* {
    primary: #bac3ff;
    primary-fixed: #dee0ff;
    primary-fixed-alpha: rgba(222, 224, 255, 0.2);
    primary-fixed-dim: #bac3ff;
    on-primary: #162778;
    on-primary-fixed: #00105a;
    on-primary-fixed-variant: #303f90;
    primary-container: #303f90;
    on-primary-container: #dee0ff;
    secondary: #bac3ff;
    secondary-fixed: #dee0ff;
    secondary-fixed-dim: #bac3ff;
    on-secondary: #222c61;
    on-secondary-fixed: #0a154b;
    on-secondary-fixed-variant: #394379;
    secondary-container: #394379;
    on-secondary-container: #dee0ff;
    tertiary: #ecb4ec;
    tertiary-fixed: #ffd6fd;
    tertiary-fixed-dim: #ecb4ec;
    on-tertiary: #49204e;
    on-tertiary-fixed: #310937;
    on-tertiary-fixed-variant: #623766;
    tertiary-container: #623766;
    on-tertiary-container: #ffd6fd;
    error: #ffb4ab;
    on-error: #690005;
    error-container: #93000a;
    on-error-container: #ffdad6;
    surface: #191119;
    surface-alpha: rgba(25, 17, 25, 0.7);
    on-surface: #eedeea;
    on-surface-variant: #d8bfd5;
    outline: #a08a9e;
    outline-variant: #534152;
    shadow: #000000;
    scrim: #000000;
    inverse-surface: #eedeea;
    inverse-on-surface: #372d37;
    inverse-primary: #4958a9;
    surface-dim: #191119;
    surface-bright: #403640;
    surface-container-lowest: #140b14;
    surface-container-low: #221921;
    surface-container: #261d26;
    surface-container-high: #312730;
    surface-container-highest: #3c323b;
}
