@define-color borders_breeze #51536b;
@define-color content_view_bg_breeze #272745;
@define-color error_color_backdrop_breeze #276dfb;
@define-color error_color_breeze #276dfb;
@define-color error_color_insensitive_backdrop_breeze #253d7e;
@define-color error_color_insensitive_breeze #253d7e;
@define-color insensitive_base_color_breeze #252542;
@define-color insensitive_base_fg_color_breeze #5e6177;
@define-color insensitive_bg_color_breeze #242440;
@define-color insensitive_borders_breeze #33334d;
@define-color insensitive_fg_color_breeze #5e6075;
@define-color insensitive_selected_bg_color_breeze #242440;
@define-color insensitive_selected_fg_color_breeze #5e6075;
@define-color insensitive_unfocused_bg_color_breeze #242440;
@define-color insensitive_unfocused_fg_color_breeze #5e6075;
@define-color insensitive_unfocused_selected_bg_color_breeze #242440;
@define-color insensitive_unfocused_selected_fg_color_breeze #5e6075;
@define-color link_color_breeze #02e084;
@define-color link_visited_color_breeze #7cb7ff;
@define-color success_color_backdrop_breeze #71f79f;
@define-color success_color_breeze #71f79f;
@define-color success_color_insensitive_backdrop_breeze #3e6b60;
@define-color success_color_insensitive_breeze #3e6b60;
@define-color theme_base_color_breeze #272745;
@define-color theme_bg_color_breeze #262643;
@define-color theme_button_background_backdrop_breeze #16162e;
@define-color theme_button_background_backdrop_insensitive_breeze #15152c;
@define-color theme_button_background_insensitive_breeze #15152c;
@define-color theme_button_background_normal_breeze #16162e;
@define-color theme_button_decoration_focus_backdrop_breeze #2777ff;
@define-color theme_button_decoration_focus_backdrop_insensitive_breeze #1b3572;
@define-color theme_button_decoration_focus_breeze #2777ff;
@define-color theme_button_decoration_focus_insensitive_breeze #1b3572;
@define-color theme_button_decoration_hover_backdrop_breeze #2777ff;
@define-color theme_button_decoration_hover_backdrop_insensitive_breeze #1b3572;
@define-color theme_button_decoration_hover_breeze #2777ff;
@define-color theme_button_decoration_hover_insensitive_breeze #1b3572;
@define-color theme_button_foreground_active_backdrop_breeze #d3dae3;
@define-color theme_button_foreground_active_backdrop_insensitive_breeze #5e6075;
@define-color theme_button_foreground_active_breeze #081b19;
@define-color theme_button_foreground_active_insensitive_breeze #5e6075;
@define-color theme_button_foreground_backdrop_breeze #c3c7d1;
@define-color theme_button_foreground_backdrop_insensitive_breeze #4f5062;
@define-color theme_button_foreground_insensitive_breeze #4f5062;
@define-color theme_button_foreground_normal_breeze #c3c7d1;
@define-color theme_fg_color_breeze #d3dae3;
@define-color theme_header_background_backdrop_breeze #272745;
@define-color theme_header_background_breeze #262643;
@define-color theme_header_background_light_breeze #262643;
@define-color theme_header_foreground_backdrop_breeze #d3dae3;
@define-color theme_header_foreground_breeze #d3dae3;
@define-color theme_header_foreground_insensitive_backdrop_breeze #d3dae3;
@define-color theme_header_foreground_insensitive_breeze #d3dae3;
@define-color theme_hovering_selected_bg_color_breeze #844c62;
@define-color theme_selected_bg_color_breeze #2777ff;
@define-color theme_selected_fg_color_breeze #081b19;
@define-color theme_text_color_breeze #d3dae3;
@define-color theme_titlebar_background_backdrop_breeze #272745;
@define-color theme_titlebar_background_breeze #262643;
@define-color theme_titlebar_background_light_breeze #262643;
@define-color theme_titlebar_foreground_backdrop_breeze #d3dae3;
@define-color theme_titlebar_foreground_breeze #d3dae3;
@define-color theme_titlebar_foreground_insensitive_backdrop_breeze #d3dae3;
@define-color theme_titlebar_foreground_insensitive_breeze #d3dae3;
@define-color theme_unfocused_base_color_breeze #272745;
@define-color theme_unfocused_bg_color_breeze #262643;
@define-color theme_unfocused_fg_color_breeze #d3dae3;
@define-color theme_unfocused_selected_bg_color_alt_breeze #183774;
@define-color theme_unfocused_selected_bg_color_breeze #183774;
@define-color theme_unfocused_selected_fg_color_breeze #d3dae3;
@define-color theme_unfocused_text_color_breeze #d3dae3;
@define-color theme_unfocused_view_bg_color_breeze #252542;
@define-color theme_unfocused_view_text_color_breeze #5e6177;
@define-color theme_view_active_decoration_color_breeze #2777ff;
@define-color theme_view_hover_decoration_color_breeze #2777ff;
@define-color tooltip_background_breeze #353945;
@define-color tooltip_border_breeze #5d616d;
@define-color tooltip_text_breeze #d3dae3;
@define-color unfocused_borders_breeze #51536b;
@define-color unfocused_insensitive_borders_breeze #33334d;
@define-color warning_color_backdrop_breeze #ff6a00;
@define-color warning_color_breeze #ff6a00;
@define-color warning_color_insensitive_backdrop_breeze #6d3c2b;
@define-color warning_color_insensitive_breeze #6d3c2b;
