/* UNITE windowDecorations */
@import url('/home/urmum/.local/share/gnome-shell/extensions/unite@hardpixel.eu/styles/gtk3/buttons-right/maximized.css');
/* windowDecorations UNITE */
@import 'colors.css';