@import url("../../.cache/wal/colors-waybar.css");

* {
	font-family: "SF Pro Display", "SpaceMono Nerd Font", sans-serif;
	font-size: 1em;
	font-weight: bold;
}

window#waybar {
	background-color: @background;
	color: @foreground;
	transition-property: background-color;
	transition-duration: .5s;
	min-height: 40px;
	/* max-height: 20px; */
}

button:hover {
	background: inherit;
}

#workspaces {
	background: @background;
	opacity: 0.8;
}

#workspaces button {
	margin: 0px 3px;
	color: @foreground;
	transition: all 0.2s ease-out;
	opacity: 0.6;
}

#workspaces button.active {
	color: @color14;
	opacity: 1.0;
}

#workspaces button:hover {
	color: rgba(255,255,255,1);
}

/* https://google.com */
#workspaces button.urgent {
	color: rgb(255, 0, 0);
	background: rgb(255, 0, 0);
}

#workspaces button.empty {
	color: @foreground;
	opacity: 0.2;
}

#workspaces button.empty:hover {
	color: rgba(255,255,255,1);
}

#battery.charging,
#battery.plugged {
	color: @color6;
}

@keyframes blink {
	to {
		background-color: #ffffff;
		color: #000000;
	}
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
	background-color: #f53c3c;
	color: #ffffff;
	animation-name: blink;
	animation-duration: 0.5s;
	animation-timing-function: steps(12);
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

#pulseaudio.muted {
	background-color: @foreground;
	color: @background;
}

#tray {
	background-color: @background;
}

#tray>.passive {
	-gtk-icon-effect: dim;
}

#tray>.needs-attention {
	-gtk-icon-effect: highlight;
	background-color: #eb4d4b;
}

tooltip {
	background-color: @background;
	color: @foreground;
}

#custom-spotify,
#custom-music-wrap,
#custom-nightlight,
#custom-keepawake,
#pulseaudio,
#bluetooth,
#network,
#battery,
#backlight,
#custom-wlogout {
	color: @color14;
	padding: 0px 5px;
	transition: all 0.2s ease-in-out;
	opacity: 0.9;
}

#custom-spotify:hover,
#custom-music-wrap:hover,
#custom-nightlight:hover,
#custom-keepawake:hover,
#pulseaudio:hover,
#bluetooth:hover,
#network:hover,
#backlight:hover,
#battery:hover,
#custom-wlogout:hover {
	color: #ffffff;
	transition: all 0.2s ease-in-out;
	opacity: 1;
}

#clock,
#custom-updates,
#custom-notification{
	padding-right: 5px;
	color: @color14;
	transition: all 0.2s ease-in-out;
	opacity: 0.9;
}

#clock:hover,
#custom-updates:hover,
#custom-notification:hover {
	color: #ffffff;
	opacity: 1;
}

/* #custom-keepawake.active { */
/*     color: #a6e3a1;   } */
/**/
/* #custom-keepawake.inactive { */
/*     color: #f38ba8;   */
/* } */
