@import "colors.css";

* {
	font-family: "SF Pro Display", "SpaceMono Nerd Font", sans-serif;
	font-size: 1em;
	font-weight: bold;
}

window#waybar {
	background-color: @background;
	color: @primary;
	/* transition-property: background-color; */
	transition-duration: .5s;
	min-height: 10px;
	/* max-height: 20px; */
}

button:hover {
	background: inherit;
}

#workspaces {
	opacity: 1;
}

#workspaces button {
	/* margin: 0px 3px; */
	color: @primary;
	transition: all 0.2s ease-out;
	opacity: 0.6;
}

#workspaces button.active {
	color: @primary;
	opacity: 1.0;
}

#workspaces button:hover {
	color: @on_primary_container;
  opacity: 0.8;
}

#workspaces button.urgent {
	color: @on_error;
	background: @error_container;
}

#workspaces button.empty {
	color: @primary;
	opacity: 0.2;
}

#workspaces button.empty:hover {
	color: @on_primary_container;
  opacity: 0.8;
}

#battery.charging,
#battery.plugged {
	color: @primary;
}

@keyframes blink {
	to {
		background-color: #ffffff;
		color: #000000;
	}
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
	background-color: #f53c3c;
	color: #ffffff;
	animation-name: blink;
	animation-duration: 0.5s;
	animation-timing-function: steps(12);
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

#pulseaudio.muted {
	color: @primary;
}

#tray {
	background-color: @background;
}

#tray>.passive {
	-gtk-icon-effect: dim;
}

#tray>.needs-attention {
	-gtk-icon-effect: highlight;
	background-color: #eb4d4b;
}

tooltip {
	background-color: @background;
	color: @primary;
}

#custom-spotify,
#custom-music-wrap,
#custom-nightlight,
#custom-keepawake,
#pulseaudio,
#bluetooth,
#network,
#battery,
#backlight,
#custom-wlogout {
	color: @primary;
	padding: 0px 5px;
	transition: all 0.2s ease-in-out;
	opacity: 0.9;
}

#custom-spotify:hover,
#custom-music-wrap:hover,
#custom-nightlight:hover,
#custom-keepawake:hover,
#pulseaudio:hover,
#bluetooth:hover,
#network:hover,
#backlight:hover,
#battery:hover,
#custom-wlogout:hover {
	color: @on_primary_container;
	transition: all 0.2s ease-in-out;
	opacity: 1;
}

#clock,
#custom-updates,
#custom-notification{
	padding-right: 5px;
	color: @primary;
	transition: all 0.2s ease-in-out;
	opacity: 0.9;
}

#clock:hover,
#custom-updates:hover,
#custom-notification:hover {
	color: @on_primary_container;
	opacity: 1;
}

#custom-keepawake.active {
    color: @tertiary;   }

#custom-keepawake.inactive {
    color: @error;  
}
