@import url("../../.cache/wal/colors-waybar.css");

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "SF Pro Display", "SpaceMono Nerd Font",sans-serif;
    /* font-size: 1rem; */
    font-size: 15px;
    font-weight: bold;
    /* border-radius: 10px; */
    /* margin-right: 10px; */
}

window#waybar {
    background-color: @background;
    color: @foreground;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    /* box-shadow: inset 0 -3px @foreground; */
}

/* you can set a style on hover for any module like this */
#pulseaudio:hover {
    /* background-color: @foreground; */
    color: @color14;
}

#workspaces {
    background: @background;
    margin: 2px 1px 3px 1px;
    padding: 0px 1px;
    border-radius: 15px;
    border: 0px;
    font-weight: bold;
    font-style: normal;
    opacity: 0.8;
    font-size: 16px;
    color: #ffffff;
}

#workspaces button {
    padding: 0px 5px;
    margin: 4px 3px;
    border-radius: 15px;
    border: 0px;
    color: @foreground;
    transition: all 0.2s ease-out;
    opacity: 0.4;
}

#workspaces button.active {
    background: @foreground;
    color: @background;
    border-radius: 15px;
    min-width: 40px;
    transition: all 0.3s ease-in-out;
    opacity:1.0;
}

#workspaces button:hover {
    color: @color1;
    background: @color4;
    border-radius: 15px;
    opacity:0.7;
}

/* https://google.com */
#workspaces button.urgent {
    background-color: @color11;
}

#workspaces button.empty {
    color: @background;
}

#workspaces button.empty:hover {
    color: @color0;
    background-color: @color2;
}

#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

/* #clock, */
/* #battery, */
#cpu,
#memory,
#disk,
#temperature,
#backlight,
/* #network, */
/* #pulseaudio, */
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    padding: 0 13px;
    color: @color2;
    margin: 0 0px;
}

#network {
    /* padding-right: 20px; */
    transition: all 0.2s ease-in-out;
    color: @color2;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

/* #clock {
    color: @color6;
    transition: all 0.2s ease-in-out;
    padding-right: 5px;
}

#clock:hover{
    color: @color14;
} */

/* #battery {
    background-color: #000000;
    color: #ffffff;
    color: @color6;
    padding-right: 5px;
} */

#battery.charging, #battery.plugged {
    /* color: #ffffff; */
    /* background-color: #000000; */
    color: @color6;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#power-profiles-daemon {
    padding-right: 15px;
}

#power-profiles-daemon.performance {
    background-color: #f78818;
    color: #000000;
}

#power-profiles-daemon.balanced {
    background-color: #000000;
    color: #ffffff;
}

#power-profiles-daemon.power-saver {
    background-color: #000000;
    color: #3a8941;
}

#power-profiles-daemon:hover {
    background-color: #ffffff;
    color: #000000;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: #2ecc71;
    color: #000000;
}

#memory {
    background-color: #9b59b6;
}

#disk {
    background-color: #964B00;
}

#backlight {
    background-color: #000000;
}
/* 
#network:hover {
    background-color: #ffffff;
    color: @color14;
} */

/* #pulseaudio {
    background-color: #000000;
    color: @color2;
    padding-right: 18px;
    transition: all 0.2s ease-in-out;
} */

#pulseaudio.muted {
    background-color: #90b1b1;
    color: #2a5c45;
}

#wireplumber {
    background-color: #fff0f5;
    color: #000000;
}

#wireplumber.muted {
    background-color: #f53c3c;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
    background-color: #f0932b;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
    background-color: @background;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: white;
}

#privacy-item.screenshare {
    background-color: #cf5700;
}

#privacy-item.audio-in {
    background-color: #1ca000;
}

#privacy-item.audio-out {
    background-color: #0069d4;
}

/* #custom-spotify {
    padding: 5px;
    color: @color2;
    transition: all 0.2s ease-in-out;
} */

#custom-spotify.paused {
    color: @foreground;
}

/* #custom-spotify:hover {
    color: @color14;
    background-color: #ffffff;
} */

#window {
    font-size: 1px;
}

#custom-cava {
    color: @color2;
    padding-left: 10px;
}

/* #custom-notification {
    padding: 0 10px;
    color: @color6;
    transition: all 0.2s ease-in-out;
} */

/* #custom-notification:hover {
    color: @color14;
} */

/* #bluetooth {
    font-size: 15px;
    padding-right: 5px;
    padding-left: 5px;
    color: @color2;
    transition: all 0.2s ease-in-out;
} */
/* 
#bluetooth:hover {
    font-size: 15px;
    background-color: @color8;
    color: @color14;
} */

/* #custom-wlogout {
    color: @color2;
    transition: all 0.2s ease-in-out;
} */

#custom-wlogout:hover {
    color: @color14;
}

tooltip{
    background-color: @background;
    color: @foreground;
}

#custom-spotify,
#custom-music-wrap,
#pulseaudio,
#bluetooth,
#network,
#battery,
#custom-wlogout {
  color: @color14;
  padding: 0px 5px;
  transition: all 0.2s ease-in-out;
}

#custom-spotify:hover ,
#custom-music-wrap:hover ,
#pulseaudio:hover ,
#bluetooth:hover ,
#network:hover ,
#battery:hover ,
#custom-wlogout:hover {
  color: #ffffff;
  transition: all 0.2s ease-in-out;
}

#clock,
#custom-notification {
    padding-right: 5px;
    color: @color14;
    transition: all 0.2s ease-in-out;
}

#clock:hover,
#custom-notification:hover {
    color: #ffffff;
}
