spawn-at-startup "waybar"
spawn-sh-at-startup "awww-daemon"
spawn-sh-at-startup "awww-daemon -n wallpaper"
spawn-sh-at-startup "swayidle -w"
spawn-sh-at-startup "hyprsunset"
// spawn-at-startup "hyprctl setcursor Win10OS-cursors 24"
spawn-sh-at-startup "dbus-update-activation-environment --systemd WAYLAND_DISPLAY XDG_CURRENT_DESKTOP"
spawn-sh-at-startup "systemctl --user start hyprpolkitagent"
spawn-sh-at-startup "/usr/bin/gnome-keyring-daemon --start --components=pkcs11,secrets,ssh,gpg"
spawn-sh-at-startup "clipse -listen"
spawn-sh-at-startup "udiskie"
spawn-sh-at-startup "swayosd-server"
spawn-sh-at-startup "$HOME/.config/hypr/scripts/wallpaper_loop.sh"
spawn-sh-at-startup "$HOME/.config/hypr/scripts/power.sh"
spawn-sh-at-startup "wl-clip-persist --clipboard regular"
spawn-sh-at-startup "wl-paste --watch cliphist store"
spawn-sh-at-startup "kbuildsycoca6"
