window-rule {
  match app-id="brave"
  open-maximized true
}


window-rule {
  match app-id="^clipse$"
  open-floating true

  max-width 800
  min-width 800
  max-height 500
  min-height 500
}

window-rule {
  match app-id="org.pulseaudio.pavucontrol"
  open-floating true

  max-width 800
  min-width 800
  max-height 500
  min-height 500
}

window-rule {
  match app-id="kitty"
  opacity 0.9
  background-effect {
    blur true
  }
}

window-rule {
  match app-id="Spotify"
  open-on-workspace "spotify"
  opacity 0.9
  background-effect {
    blur true
  }
}

window-rule {
  match app-id="dolphin"
  opacity 0.9
  background-effect {
    blur true
  }
}


window-rule {
  match is-focused=false
  opacity 0.8
  // open-maximized-to-edges true
}
