@import url("/../../.cache/wal/colors-waybar.css");

* {
	background-image: none;
	box-shadow: none;
}

window {
	background-color: @background;
}

button {
	border-radius: 0;
	border-color: @color2;
	text-decoration-color: #cdd6f4;
	color: @foreground;
	background-color: #000000;
	border-style: solid;
	border-width: 1px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
}

button:focus, button:active, button:hover {
	/* 20% Overlay 2, 80% mantle */
	background-color: @color10;
	outline-style: none;
	color: @foreground;
}

#lock {
    background-image: url("icons/lock.svg");
}

#logout {
    background-image: url("icons/logout.svg");
}

#suspend {
    background-image: url("icons/suspend.svg");
}

#shutdown {
    background-image: url("icons/shutdown.svg");
}

#reboot {
    background-image: url("icons/reboot.svg");
}

#hibernate {
  background-image: url("icons/hibernate.svg");
}
