/*
 *		pywal theme template for notepadqq by threadreaper
 *		https://github.com/threadreaper
 */

.cm-s-nqqwal .CodeMirror-gutters { background: #080b14 !important; }
.cm-s-nqqwal .CodeMirror-foldgutter-open, .CodeMirror-foldgutter-folded { color: #c1c2c4; }
.cm-s-nqqwal .CodeMirror-cursor { border-left: 1px solid #c1c2c4; background-color: rgba(53,133,184,0.4)}
.cm-s-nqqwal { background-color: #080b14; color: #c1c2c4; }
.cm-s-nqqwal span.cm-builtin { color: #124676; font-weight: bold; }
.cm-s-nqqwal span.cm-comment { color: #585d6b; }
.cm-s-nqqwal span.cm-keyword { color: #083B86; font-weight: bold; }
.cm-s-nqqwal span.cm-atom { color: #15518B; }
.cm-s-nqqwal span.cm-def { color: #276CA2; }
.cm-s-nqqwal span.cm-variable { color: #3585B8; }
.cm-s-nqqwal span.cm-variable-2 { color: #276CA2; }
.cm-s-nqqwal span.cm-string { color: #124676; }
.cm-s-nqqwal span.cm-string-2 { color: #124676; }
.cm-s-nqqwal span.cm-number { color: #276CA2; }
.cm-s-nqqwal span.cm-tag { color: #083B86; }
.cm-s-nqqwal span.cm-property { color: #3585B8; }
.cm-s-nqqwal span.cm-attribute { color: #3585B8; }
.cm-s-nqqwal span.cm-qualifier { color: #15518B; }
.cm-s-nqqwal span.cm-meta { color: #276CA2; }
.cm-s-nqqwal span.cm-header { color: #083B86; }
.cm-s-nqqwal span.cm-operator { color: #083B86; }
.cm-s-nqqwal span.CodeMirror-matchingbracket { box-sizing: border-box; background: transparent; border-bottom: 1px solid; }
.cm-s-nqqwal span.CodeMirror-nonmatchingbracket { border-bottom: 1px solid; background: none; }
.cm-s-nqqwal .CodeMirror-activeline-background { background: rgba(39,108,162,0.4); }
.cm-s-nqqwal div.CodeMirror-selected { background: #083B86; }
.cm-s-nqqwal .CodeMirror-focused div.CodeMirror-selected { background: #080b14); }
