#![enable(implicit_some)]
(
    border_width: 2,
    margin: [4, 4],
    default_border_color: "#080b14",
    floating_border_color: "#3585B8",
    focused_border_color: "#c1c2c4",
    background_color: "#080b14",
)