@define-color foreground #c1c2c4;
@define-color background #080b14;
@define-color cursor #c1c2c4;

@define-color color0 #080b14;
@define-color color1 #1A4C5E;
@define-color color2 #124676;
@define-color color3 #083B86;
@define-color color4 #15518B;
@define-color color5 #276CA2;
@define-color color6 #3585B8;
@define-color color7 #c1c2c4;
@define-color color8 #585d6b;
@define-color color9 #1A4C5E;
@define-color color10 #124676;
@define-color color11 #083B86;
@define-color color12 #15518B;
@define-color color13 #276CA2;
@define-color color14 #3585B8;
@define-color color15 #c1c2c4;
